@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

body {
    font-family: 'nunito';
    color: white;
    background-color: black;
    line-height: 1.4;
    width: 100%;
}

.stretch {
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 1.4em;
    color: white;
}

h2 {
    font-size: 2em;
    color: white;
}

h3 {
    font-size: 3em;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#shop {
    margin-left: 13%;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    width: 75%;
}

#products {
    margin-left: 0%;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#product-video {
    background-color: black;
    width: 100%;
    opacity: 0.9;
}

#background {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1;
}

.submit {
    display: block;
    width: 20%;
    padding: 0.75rem;
    background: royalblue;
    color: white;
    border-radius: 2px;
    cursor: pointer;
    margin: auto;
}

.email {
    display: block;
    width: 18.5%;
    height: 2rem;
    padding: 0.25rem 0.75rem;
    background-color: #fff;
    border: 1px solid #ced1da;
    border-radius: 0.25rem;
    margin: auto;
}

.text {
    display: block;
    width: 18.5%;
    height: 2rem;
    padding: 0.25rem 0.75rem;
    background-color: #fff;
    border: 1px solid #ced1da;
    border-radius: 0.25rem;
    margin: auto;
}